@charset "utf-8";

.body {
    width: 300px;
    height: 100px;
}

.button-group {
    list-style: none;
    display: flex;
}
.button-group > *:not(:last-child) {
    margin-right: 5px;
}

.error {
    color: red;
}

.title-group {
    margin: 2% 0;
}


